@charset "UTF-8";

.header{
  background: linear-gradient(135deg, #1F6ED4, #39BAE8);
  width:100%;
  height:70px;
  margin:0 auto 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
.title{
  color:#fff;
  width:1000px;
  height: 70px;
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto;
  padding:20px 0 30px 20px;
  text-shadow: 1px 1px 1px #333;
}

.main{
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
}


.window{
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 2%;
  position: relative;
  display: grid;
  grid-template-columns: 160px 1fr;
	grid-template-rows: 54px 130px;
}
.turnBox{
  border: solid 2px #fff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  grid-row: 1;
}
.turnPlayer{
  margin: 3px 20px 0 0;
  font-size: 16px;
}
.turnCount{
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.messageBox{
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  grid-row: 2;
	grid-column: 1 / span 2;
}

.buttonBox{
  width: 100%;
  padding: 10px;
  color: #000;
  margin: 0 auto auto;
  grid-row: 1;
	grid-column: 2;

}
.button{
  background-color: #ff0;
  width: 100%;
  padding: 5px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.board{
  width: 100%;
  background-color: #333;
}
.squares{
  width: 90%;
  aspect-ratio: 1;
  margin: 5%;
  display: flex;
  flex-direction: column;
  background-color: #00552e;
  border: solid 2px #000;
  position: relative;
}
.row{
  width: 100%;
  height: 12.5%;
}
.colmuns{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.colmun{
  width: 12.5%;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.black{
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #000;
}
.white{
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #fff;
}

.dot{
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  width: 6px;
  height: 6px;
  margin-top:-3px;
  margin-left: -3px;
}
.dot:nth-of-type(1){
  top:25%;
  left:25%;
  background-color: #000;
}
.dot:nth-of-type(2){
  top:25%;
  left:75%;
  background-color: #000;
}
.dot:nth-of-type(3){
  top:75%;
  left:25%;
  background-color: #000;
}
.dot:nth-of-type(4){
  top:75%;
  left:75%;
  background-color: #000;
}

.footer{
  background: linear-gradient(-135deg, #1F6ED4, #39BAE8);
  width:100%;
  height:auto;
  margin:0 auto;
  overflow: hidden;
  padding: 10px 0;
}
.footer p{
  color:#fff;
  text-align: center;
  margin:5px auto 0;
}
@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  .main{
    flex-direction: row-reverse;
    align-items: stretch;
  }
  .window{
    width: 30%;
    display: block;
  }
  .turnBox{
    width: 100%;
    flex-direction: column;
  }
  .turnPlayer{
    margin: 3px 0 0;
    font-size: 20px;
  }
  .turnCount{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  .messageBox{
    margin-top: 20px;
  }
  .buttonBox{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px auto auto;
  }
  .button{
    margin: 10px auto;
  }
  .board{
    width: 70%;
  }
}
@media screen and (min-width: 480px) {
  .message{
    font-size: 13px;
  }
}
@media screen and (min-width: 560px) {
  .message{
    font-size: 16px;
  }
}
@media screen and (min-width: 700px) {

  .squares{
    border: solid 4px #000;
  }
  .colmun{
    border: solid 2px #000;
  }
  .dot{
    margin-top:-5px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
  }
}
